package middleware

import (
	"github.com/gin-gonic/gin"
	"{{ .ProjectName }}/{{ .ProjectName }}/logger"
)

func InitMiddleware(r *gin.Engine) {

	r.Use(GinLogger(logger.Logger))

	r.Use(GinRecovery(logger.Logger, true))

}
